.rating-container {
    display: flex;
}

.rating-loading {
    font-size: 20px;
    margin-left: 10px;
}

.container-1{
    display: flex;
    width: 420px;
    padding: 50px 0;
    border-radius: 10px;
    background: #fff;
    row-gap: 30px;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 5px  lightgray;
    border: 1px solid rgb(222, 226, 230);
    margin: 0;
}

.circular-progress{
    position: relative;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background: conic-gradient(rgb(255, 68, 51) 0deg, green 360deg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}

.circular-progress::before{
    content: "";
    position: absolute;
    height: 210px;
    width: 210px;
    border-radius: 50%;
    background-color: #fff;
}

.progress-value{
    position: relative;
    font-size: 40px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0px 0px 1px gray;
}

.text{
    position: relative;
    font-size: 30px;
    font-weight: 500;
    color: #606060;
    text-shadow: 0px 0px 1px gray;
}

.container-2 {
    width: 420px;
    height: 420px;
    padding-left: 16px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px; 
}

.card-rating {
    width: auto; 
    box-sizing: border-box;
    border: 1px solid rgb(222, 226, 230);
    border-radius: 10px;
}

.rating-ul {
    margin-bottom: 0;
}

.prevent {
    font-size: 20px;
}


