.txt-form {
    width: 800px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    height: 150px;
    margin: 24px 0;
  }

  .drop-container {
    background-color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid gray;
    color: #444;
    cursor: pointer;
    margin-right: 10px;
    width: 680px;
  }
  
  .drop-container:hover {
    background: rgba(0, 140, 255, 0.164);
    border-color: rgba(17, 17, 17, 0.616);
  }
  
  .drop-container:hover .drop-title {
    color: #222;
  }
  
  .drop-title {
    color: #444;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: color .2s ease-in-out;
  }
  
  #file-input {
    width: 300px;
    max-width: 100%;
    color: #444;
    padding: 2px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid rgba(8, 8, 8, 0.288);
  }
  
  #file-input::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #084cdf;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
  }
  
  #file-input::file-selector-button:hover {
    background: #0d45a5;
  }


.txt-submit {
    display: flex;
    align-items: center;
    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
    font-size: 17px;
    padding: 5px;
    color: white;
    background: #ad5389;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    border: none;
    letter-spacing: 0.05em;
    border-radius: 16px;
    width: 90px;
    height: 50px;
}

.txt-submit > svg {
    margin-left: 5px;
    transform: rotate(30deg);
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.txt-submit > span {
    margin-left: 10px;
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.txt-submit:hover > svg {
    transform: translateX(5px) rotate(90deg);
}