.circularProgressContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.circularProgress {
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background: conic-gradient(rgb(255, 68, 51) 0deg, green 360deg);
    display: flex;
    justify-content: center;
    margin: 20px;
}

.circularProgress::before {
    content: "";
    position: absolute;
    top: 10%;
    left: 10%;
    height: 160px;
    width: 160px;
    border-radius: 50%;
    background-color: white;
}

@media (max-width: 768px) {
    .circularProgress {
        height: 150px;
        width: 150px;
    }
    .circularProgress::before {
        height: 120px;
        width: 120px;
    }
}

.progressValue{
    position: relative;
    font-size: 40px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0px 0px 1px gray;
}