.ant-steps-item-tail {
    top: 18.5px !important;
}
.ant-steps-item-tail::after {
    height: 3px !important;
}
.ant-steps-item-content {
    margin-top: 5px !important;
}


/* 已完成狀態 */
.ant-steps-item-finish .ant-steps-item-title {
    color: rgba(255, 255, 255, 0.5) !important;
    font-weight: bolder !important;
}
.ant-steps-item-finish .ant-steps-item-icon {
    background-color: rgba(255, 255, 255, 0.5) !important ; 
    border-color: rgba(255, 255, 255, 1) !important;
    font-weight: bolder !important;
}
.ant-steps-item-finish  .ant-steps-icon {
    color: rgba(255, 255, 255, 1) !important;
    font-weight: bolder !important;
}
.ant-steps-item-finish .ant-steps-item-tail::after {
    background-color: rgba(255, 255, 255, 0.5) !important;  
    font-weight: bolder !important;
}


/* 進行中狀態 */
.ant-steps-item-process .ant-steps-item-title {
    color: white !important;
    font-weight: bolder !important;
}
.ant-steps-item-process .ant-steps-item-icon {
    background-color: goldenrod !important; 
    border-color: gold !important;
    font-weight: bolder !important;
}
.ant-progress-circle-path {
    stroke: gold !important;
    font-weight: bolder !important;  
}

/* 尚未進行狀態 */
.ant-steps-item-wait .ant-steps-item-title {
    color: rgba(0, 0, 0, 0.5) !important;
    font-weight: bolder !important;
}
.ant-steps-item-wait  .ant-steps-item-icon {
    background-color: rgba(0, 0, 0, 0.25) !important;
    font-weight: bolder !important;
}
.ant-steps-item-wait  .ant-steps-icon {
    color: rgba(0, 0, 0, 0.5) !important;
    font-weight: bolder !important;
}

.bigTitle {
    width: '50%';
    padding: '6px';
    position: 'absolute';
    left:'50%';
    transform: 'translateX(-50%)';
}
@media (max-width: 768px) {
    .bigTitle {
        font-size: 20px;
    }
}






  
  