
  
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  @media (max-width: 768px) {
    .header {
        padding: 10px;
    }
}
  
  .title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin: 0;
  }

  @media (max-width: 768px) {
    .title {
        font-size: 18px;
    }
}
  
  .clickingIcon {
    color: black;
    animation: click 1s infinite;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, 1fr);    
    gap: 35px;
    height: 100%;
  }
  @media (max-width: 768px) {
    .grid {
        gap:10px;
    }
}
  
  .button {
    width: 100%;
    position: relative;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 0.5rem;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .buttonContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
  }
  
  .iconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: transform 0.3s ease;
  }
  
  .textContainer {
    flex-grow: 1;
    text-align: center;
  }
  
  .buttonTitle {
    font-weight: 600;
    font-size: 1.125rem;
  }
  
  .description {
    font-size: 1rem;
    color: #4b5563;
    margin-top: 0.25rem;
  }
  
  .arrow {
    position: absolute;
    right: 0;
    bottom: 50%;
    transform: translateX(-1rem) translateY(50%);
    opacity: 0;
    transition: all 0.3s ease;
  }
  
  /* Type-specific colors */
  .rose {
    background-color: #ffe4e6;
    border-color: rgb(238, 140, 160);
  }
  .amber {
    background-color: #fef3c7;
    border-color: rgb(230, 185, 118);
  }
  .emerald {
    background-color: #d1fae5;
    border-color: rgb(127, 206, 178);
  }
  .purple {
    background-color: #EDE9FE;
    border-color: rgb(180, 148, 238);
  }
  
  .iconRose { color: #e11d48; width: 3.5rem; height: 3.5rem;}
  .iconAmber { color: #d97706;  width: 3.5rem; height: 3.5rem;}
  .iconEmerald { color: #059669;  width: 3.5rem; height: 3.5rem;}
  .iconPurple { color: #7C3AED;  width: 3.5rem; height: 3.5rem;}
  
  .button:hover {
    transform: translateY(-2px) scale(1.01);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.25);
  }
  
  .button:hover .iconContainer {
    animation: swing 1s linear infinite; 
  }
  
  .button:hover .arrow {
    opacity: 1;
    transform: translateX(15%) translateY(-10%);
  }
  

  @keyframes click {
    0% {
        transform: scale(1.1);
      }
      50% {
        transform: scale(0.8);
        filter: drop-shadow(-2.5px -2.5px 5px rgba(0, 0, 0, 0.5));
      }
      100% {
        transform: scale(1.1);
      }
  }

  @keyframes swing {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(12deg);
    }
    50% {
      transform: rotate(0deg);
    }
    75% {
      transform: rotate(-12deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }